<div class="sidebar">
    <ul class="menu">
        <li class="menu-heading">Rezervacije</li>
        <li class="menu-item"><a href="#">Pregled</a></li>
        <li class="menu-item"><a href="#">Nova</a></li>
    </ul>
    <ul class="menu">
        <li class="menu-heading">Gosti</li>
        <li class="menu-item"><a href="#">Pregled</a></li>
    </ul>
    <ul class="menu">
        <li class="menu-heading">Ponude</li>
        <li class="menu-item"><a href="#">Pregled</a></li>
        <li class="menu-item"><a href="#">Nova</a></li>
    </ul>
    <ul class="menu">
        <li class="menu-heading">Izvještaji</li>
        <li class="menu-item"><a href="#">Dnevni</a></li>
        <li class="menu-item"><a href="#">Mjesečni</a></li>
        <li class="menu-item"><a href="#">Godišnji</a></li>
        <li class="menu-separator"></li>
        <li class="menu-item"><a href="#">Periodični</a></li>
    </ul>
    <ul class="menu">
        <li class="menu-heading">Postavke</li>
        <li class="menu-item"><a href="#">Korisnički račun</a></li>
        <li class="menu-item"><a href="#">Smještaj</a></li>
        <li class="menu-item"><a href="#">Računi</a></li>
    </ul>
</div>
