
<div class="label-info">
    Registracijki email je poslan na vasu email adresu. Za potvrdu registracije potrebno je kliknuti na link iz emaila-a.
    <br />
    Nakon toga vas nalog ce biti aktivan.
</div>
